*{
  box-sizing: border-box;
}

.logo{
  width: 121px;
  height: 56px;
}

.navFirst{
  background-color: black;
  display: flex;
  width:100%;
  height:88px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 16px 24px ;
}

.option {
  list-style: none;
  display: flex;
  color: white;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.option li.active{
  border-bottom: 3px solid white;
}

.profile{
  width: 50px;
  height:50px;
}

.rightSide{
  display: flex;
  align-items: center;
  gap: 12px;
}

.theme{
  height: 100%;
}

.profileWrapper{
  display: flex;
  align-items: center;
  padding: 3px 0px;
}

.dropdown{
  height: 100%;
  color: white;
}
